<div class="text-center">
  <h1>領収書情報一覧</h1>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">

    <%= link_to '＋新規作成', new_receipt_path, class: 'btn btn-primary' %>

    <% if @receipts.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>日付</th>
            <th>宛名</th>
            <th>金額</th>
          </tr>
        </thead>
        <% @receipts.each do |receipt| %>
          <tr>
            <td><%= receipt.date %></td>
            <td><%= link_to receipt.name, receipt_path(receipt) %>　様</td>
            <td><%= receipt.price %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

  </div>
</div>
